/* style.css dans le dossier 'assets' */

.body-content {
    /* Ajoutez ici le code hexadécimal de la couleur de fond correspondant à votre logo */
    background-color: #9A8B75; /* Exemple de couleur */
    height: 100vh;
}

body {
    background-color: #9A8B75; /* Votre couleur de fond */
}

.header {
    /* Style pour le bandeau */
}

.logo-and-title {
    /* Style pour le logo et le titre */
}

.navigation .menu-link {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    border-radius: 5px;
    transition: color 0.3s;
}

.navigation .menu-link:hover {
    color: red;
}

/* Style pour les onglets */
.tab {
    background-color: black;
    color: black;
    border: #9A8B75;
}

.tab:hover {
    background-color: black;
    color: red;
}

/* Active tab style */
.active-tab {
    background-color: black;
    color: white;
}

/* pour faire les cellules rectangles avec bord arrondis  */
.header-row {
    display: flex;
    background-color: #f0f0f0; /* Couleur de fond pour les lignes d'en-tête */
    border-radius: 10px; /* Bord arrondi */
    margin-bottom: 5px; /* Marge entre les lignes */
}

.header-cell, .cell {
    flex: 1;
    padding: 10px;
}

.data-row {
    display: flex;
    border-radius: 10px; /* Bord arrondi */
    margin-bottom: 5px; /* Marge entre les lignes */
}

.cell {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd; /* Bordure pour les cellules de données */
}